<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.sinsokey.spring.ex.jsp.repository.UserRepository">
 
 	<insert id="insertUser" parameterType="map">
 		insert into
 			new_user
 		(
 			name
 			, yyyymmdd
 			, email
 			, introduce
 		)
 		value
 		(
 			#{name}
 			, #{birthday}
 			, #{email}
 			, #{introduce}
 		)
 	</insert>
 	
 	<insert id="insertUserByObject" parameterType="com.sinsokey.spring.ex.jsp.domain.User"
 	useGeneratedKeys="true" keyProperty="id">
 		insert into
 			new_user
 		(
 			name
 			, yyyymmdd
 			, email
 			, introduce
 		)
 		value
 		(
 			#{name}
 			,#{yyyymmdd}
 			,#{email}
 			,#{introduce}
 		)
 	</insert>
 	
 	<select id="selectLastUser" resultType="com.sinsokey.spring.ex.jsp.domain.User">
 		select
 			id
 			, name
 			, yyyymmdd
 			, email
 			, introduce
 			, createdAt
 			, updatedAt
 		from
 			new_user
 		order by
 			id desc
 		limit
 			1
 	</select>
 	
 	
 </mapper>